*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(10,auto);
    row-gap: 25px;
    margin-left: 25px;
}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform-origin: right center;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 12px gray;
    float: left;
}
.box .front:hover{
    transform: translateX(100%);
    transition: transform 2s;
}
.box .face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.box .front{
    background-color: rgb(161, 156, 156);
    transform: translateX(0%);
}

img{
    direction: rtl;
    width: 200px;
    height: 200px;
}
h3{
    position: relative;
    top:-50px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    text-shadow: -4px 4px 0 rgba(129, 121, 121, 0.3);
}
ins{
    color: red;
    text-shadow: none;
}
p{
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
}
span{
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    color: blue;
    text-shadow: -4px 4px 5px rgb(172, 185, 241);
}
